{% extends "video_base.html" %}

{% block content%}
<link rel="stylesheet" type="text/css" href="/sitemedia/css/ip.css" media="screen">
<link rel="stylesheet" type="text/css" href="/sitemedia/css/tab.css" media="screen">

<div id="tabs3">
    <ul>
		<li><a name="list" href="http://{{localhttp}}:8000/webconfig/list/"><span>列表配置</span></a></li>
		<li><a name="users" href="http://{{localhttp}}:8000/webconfig/users/"><span>用户配置</span></a></li>
	</ul>
</div> 

<script type="text/javascript" src="/sitemedia/css/ip.js"></script> 

<div id="mid1">
		<div id="config">
		<FORM name="modify_form" method="post" action="/webconfig/ip/">
<div id="leftconfig" style="background-color:white;border-width:1px;border-color:blue;border-style:solid;width:600px;font-size:12px">
本机IP:
<input  type="text"  name="IP1"  maxlength=3  class="a3"  onkeyup="mask(this)"  onbeforepaste=mask_c()>. 
<input  type="text"  name="IP2"  maxlength=3  class="a3"  onkeyup="mask(this)"  onbeforepaste=mask_c()>. 
<input  type="text"  name="IP3"  maxlength=3  class="a3"  onkeyup="mask(this)"  onbeforepaste=mask_c()>. 
<input  type="text"  name="IP4"  maxlength=3  class="a3"  onkeyup="mask(this)"  onbeforepaste=mask_c()>  
子网掩码:
<input  type="text"  name="NM1"  maxlength=3  class="a3"  onkeyup="mask(this)"  onbeforepaste=mask_c()>. 
<input  type="text"  name="NM2"  maxlength=3  class="a3"  onkeyup="mask(this)"  onbeforepaste=mask_c()>. 
<input  type="text"  name="NM3"  maxlength=3  class="a3"  onkeyup="mask(this)"  onbeforepaste=mask_c()>. 
<input  type="text"  name="NM4"  maxlength=3  class="a3"  onkeyup="mask(this)"  onbeforepaste=mask_c()> 
网关IP: 
<input  type="text"  name="GW1"  maxlength=3  class="a3"  onkeyup="mask(this)"  onbeforepaste=mask_c()>. 
<input  type="text"  name="GW2"  maxlength=3  class="a3"  onkeyup="mask(this)"  onbeforepaste=mask_c()>. 
<input  type="text"  name="GW3"  maxlength=3  class="a3"  onkeyup="mask(this)"  onbeforepaste=mask_c()>. 
<input  type="text"  name="GW4"  maxlength=3  class="a3"  onkeyup="mask(this)"  onbeforepaste=mask_c()> 
</div>

			<div id="rightconfig">
				<input class="submit" name="mod" value="修改"  type="submit"></input>
				<input class="submit" name="reboot" value="重启服务器"  type="submit" onclick="return(confirm('是否重启服务器?'))"></input>
			</div>
		</FORM>
</div></div>

<div id="bottomconfig">
当前IP配置:
<div>IP:{{info.1}}</div>
<div>NETMASK:{{info.2}}</div>
<div>GATEWAY:{{info.3}}</div>
<br>
修改后的IP配置,重启生效:
<div>IP:{{modified_ip.0}}</div>
<div>NETMASK:{{modified_ip.1}}</div>
<div>GATEWAY:{{modified_ip.2}}</div>
</div>

{% endblock %}
