{% extends "video_base.html" %}

{% block content%}
<link rel="stylesheet" type="text/css" href="/sitemedia/css/user.css" media="screen">
<link rel="stylesheet" type="text/css" href="/sitemedia/css/tab.css" media="screen">

<script type="text/javascript" src="/sitemedia/css/tip.js"></script>

<div id="tabs3">
    <ul>
		<li><a name="list" href="http://{{localhttp}}:8000/webconfig/list/"><span>列表管理</span></a></li>
		<li><a name="ip" href="http://{{localhttp}}:8000/webconfig/ip/"><span>IP配置</span></a></li>
	</ul>
</div> 


<div id="mid1">
		<FORM name="modify_form" method="post" action="/webconfig/users/">
			<div id="config">
				用户名： <INPUT class="textfield" TYPE="TEXT" NAME="NAME" value={{info.0}}></input>
				密码： <INPUT class="textfield" TYPE="PASSWORD" NAME="PASSWD" value={{info.1}}></input>
				权限等级： <SELECT title="此权限等级大于等于摄像机权限等级时才可查看该路摄像机图像" NAME="AUTHOR">
				{% if info.2 %}
				<OPTION VALUE={{info.2}}>{{info.2}}
				{% endif %}
				{% for i in author_class %}
				<OPTION VALUE={{i}}>{{i}}
				{% endfor %}
				</SELECT>
			</div>
			<div id="centerconfig">
				<input class="submit" name="add" value="添加"  type="submit"></input>
				<input class="submit" name="del" value="删除"  type="submit"></input>
				<input class="submit" name="cle" value="清空"  type="submit" onclick="return(confirm('确认清空?'))"></input>
			</div>
		</FORM>
</div>

<div id="bottomconfig">
<div id="config"><div id="leftconfig">用户名</div><div id="leftconfig">权限等级</div></div>
{% for key, val in users.items %}
<div id="config"><div id="leftconfig"><a href="http://{{localhttp}}:8000/webconfig/users?name={{key}}&passwd={{val.0}}&author={{val.1}}">{{key}}</a></div><div id="leftconfig">{{val.1}}</div></div>
{% endfor %}
</div>

{% endblock %}
