A:visited {color:rgb(80, 200, 110); text-decoration:none;}
A:hover {color:rgb(180, 0, 200); text-decoration:none;}
A:link {color:rgb(80, 200, 110); text-decoration:none;}

#body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#header {
	width:850px; margin:auto; background:rgb(255, 255, 255); 
}

#wapper {
	width:850px; height:680px; margin:auto; 
}

#footer {
	width:850px; margin:auto; margin-top:5px; clear:both; background:blue repeat-y; text-align:center;
	font-size:12px; background: url("/sitemedia/images/title_bg.gif") repeat-x; color:rgb(0, 0, 0);
}

#logout {
	text-align:right; background:rgb(0, 100, 160); color:rgb(255, 255, 255);
	font-weight:bold;
}

#head_left {
	width:18%; float:left; margin-top:2px; margin-left:2px;
}

#head_right {
	width:80%; float:right; text-align:center; margin-top:2px; margin-left:2px;
}
 
.clear {
	clear:both;
}
