#logout {
	text-align:right; background:url("/sitemedia/images/title_bg.gif"); color:rgb(255, 255, 255);
	font-size:14px;
}

#mid1 {
	background-color:#ccc;padding-top:10px;
}

#entry {
width:10px;
}

.left-right {
	margin-left:40px; margin-right:40px;width:100px;
}

.bottom {
	margin-bottom:30%;
}
.list {
	margin-top:3px; margin-left:140px; cursor:hand;
}

#config {
	margin-bottom: 2px; margin-top: 2px;
overflow: auto; /* Paul O Brien Fix for IE www.pmob.co.uk */
width: 100%;
}
#leftconfig {
display: inline;
color: #333;
margin: 5px;
padding: 0px;
width: 300px;
float: left;
}
#leftconfig2 {
display: inline;
color: #333;
margin: 5px;
padding: 0px;
width: 100px;
float: left;
}
#centerconfig {
display: inline;
color: #333;
margin: 5px;
padding-left: 30%;
padding-right: 30%;
width:auto;
}
#rightconfig {
float: right;
color: #333;
margin-right: 80px;
padding: 0px;
width: 200px;
display: inline;
position: relative;
}
#bottomconfig {
clear:both;padding-top:2px; background-color:#e4e6eb;
margin-top:2px;
}

.clear { clear: both; background: none; }
.a3{width:30px;border:0px;text-align:center}
