#logout {
	text-align:right; background:url("/sitemedia/images/title_bg.gif"); color:rgb(255, 255, 255);
	font-size:11px;
}

#login {
	height:100%; margin:auto; background:#eef1f4;
}

#log_form {
	width:350px; margin-top:15%; margin-left:30%; 
	margin-bottom:30%; margin-right:30%; background-color:#ccc;
}

.top {
	margin-top:30%;
}

.bottom {
	margin-bottom:30%;
}

.user {
	margin-top:30px; margin-left:40px; font-size:12px;
}
.pwd {
	margin-top:3px; margin-left:52px; font-size:12px;
}
.login {
	margin-top:5px; margin-left:150px; margin-bottom:20px; cursor:hand;
}

.a3{width:30px;border:0px;text-align:center}

.textfield {
		BORDER-RIGHT: #fff 0px solid; PADDING-RIGHT: 8px; BORDER-TOP: #fff 0px solid; PADDING-LEFT: 8px; BACKGROUND: url("/sitemedia/images/textfield_bg.gif") fixed no-repeat; FONT: 1.1em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: #fff 0px solid; WIDTH: 187px; COLOR: #333; BORDER-BOTTOM: #fff 0px solid; HEIGHT: 20px; voice-family: inherit
}
