A:visited {color:rgb(80, 200, 110); text-decoration:none;}
A:hover {color:rgb(180, 0, 200); text-decoration:none;}
A:link {color:rgb(80, 200, 110); text-decoration:none;}
img {border:0px;}

#center {
	background:rgb(0, 223, 0);
}

#left {
	width:20%; height:100%; float:left; margin-right:1px; margin-top:1px; 
	background:#eef1f4; 
}

#right {
	width:79%; height:100%; float:right; margin-top:1px; margin-right:1px;
	background:#c8d0d4;
}

#logout {
	text-align:right; background:url("/sitemedia/images/title_bg.gif"); color:rgb(255, 255, 255);
	font-size:14px;
}

#activex {
	text-align:center; margin-top:5px;
}

#button {
	width:100%; margin-top:20px;
}

#label_top {
	margin-top:40px;
}

#label {
	background:url("/sitemedia/images/dbg.gif") repeat-x; color:rgb(255, 255, 255);
	font-weight:bold;
}

.but1 {
	margin-left:12%; width:56px; height:80px; float:left; cursor:hand;
}
.but2 {
	margin-left:64px; width:56px; height:80px; float:left; cursor:hand;
}

.clear {
	clear:both;
}

td{
	padding-left:5px;
}
.tree_add{
	background:url("/sitemedia/images/treeline_2.gif") no-repeat left;
	padding-left:24px;padding-top:3px;color:blue;cursor:hand
}
.tree_1{
	background:url("/sitemedia/images/ico_top1.gif") no-repeat left;
	padding-top:3px;font-size:15px; padding-left:20px;cursor:hand; color:blue;
}
.tree_2{
	padding-left:15px;
	font-size:14px
}
.tree_3{
	background:url("/sitemedia/images/39.gif") no-repeat left;
	padding-left:15px;padding-top:5px
}
