<html><HEAD><TITLE>全国地区树形列表</TITLE>
<META http-equiv=Content-Type content="text/html; charset=GB2312">
<style>
td{font-size:12px}
div{font-family:宋体}
div.tree_add{background:url(treeline_2.gif) no-repeat left;padding-left:24px;padding-top:3px;color:blue;cursor:hand}
div.tree_1{background:url(ico_top1.gif) no-repeat left middle;padding-top:3px;font-size:15px;padding-left:20px;cursor:hand;color:blue}
div.tree_2{padding-left:15px;background:url(treeline_1.gif) 15px repeat-y;font-size:14px}
div.tree_3{background:url(treeline_2.gif) no-repeat left;padding-left:30px;padding-top:3px}
</style>
<script>
<!--
function line(obj)
{
obj.style.textDecoration='underline';
}
function delline(obj)
{
obj.style.textDecoration='none';
}
function showtree(str)
{
var eval1="span_"+str+".innerHTML=span_"+str+".innerHTML=='+'?'-':'+'";
var eval2=str+"_value.style.display="+str+"_value.style.display=='none'?'':'none'";
eval(eval1);
eval(eval2);
}
-->
</script>
</HEAD>
<BODY>




<table>
<td width=80% style="padding:10px">

<div class=tree_1    onmouseover="line(this)" onMouseOut="delline(this)" onClick="showtree('directly')">直辖市 <span id=span_directly style="color:gray">+</span></div>

<div id=directly_value class=tree_2 style="display:none">
<div class=tree_3>北京（京）</div>
<div class=tree_3>上海（沪）</div>
<div class=tree_3>天津（津）</div>
<div class=tree_3>重庆（渝）</div>
</div>

</td>
</table>
</html>

