{% extends "video_base.html" %}

{% block content%}
<link rel="stylesheet" type="text/css" href="/sitemedia/css/login.css" media="screen">

<div id="logout"><a href="http://{{localhttp}}/webvideo/logout">/ 注销  /</a></div>

<div id="login">
	<div id="log_form" class="top">
		<FORM name="log_form" method="post" action="/webvideo/">
			<div class="user">用户名： <INPUT TYPE="TEXT" NAME="NAME" ></input></div>
			<div class="pwd">密码： <INPUT TYPE="PASSWORD" NAME="PASSWD" ></div>
			<div class="login"><input type="image" src="/sitemedia/images/login.gif"  /></div>
		</FORM>
	</div>
<div>
{% endblock %}
