.deps/
libmodbus.pc
src/.libs/
src/libmodbus.la
src/modbus-data.lo
src/modbus-rtu.lo
src/modbus-tcp.lo
src/modbus.lo
tests/.libs/
tests/bandwidth-client
tests/bandwidth-server-many-up
tests/bandwidth-server-one
tests/random-test-client
tests/random-test-server
tests/unit-test-client
tests/unit-test-server
tests/version
config.log
*.swp
