#logout {
	text-align:right; background:url("/sitemedia/images/title_bg.gif"); color:rgb(255, 255, 255);
	font-size:14px;
}

#login {
	height:100%; margin:auto; background:#eef1f4;
}

#log_form {
	width:300px; margin-top:15%; margin-left:30%; 
	margin-bottom:30%; margin-right:30%; background:url("/sitemedia/images/BK030.jpg");
}

.top {
	margin-top:30%;
}

.bottom {
	margin-bottom:30%;
}

.user {
	margin-top:30px; margin-left:40px; font-size:12px;
}
.pwd {
	margin-top:3px; margin-left:52px; font-size:12px;
}
.login {
	margin-top:3px; margin-left:140px; cursor:hand;
}
