{% extends "video_base.html" %}

{% block content%}
<link rel="stylesheet" type="text/css" href="/sitemedia/css/monitor.css" media="screen">

{% if jsp %}
<!-- 此处为插件脚本，页面刷新时自动运行-->
<head>
<script language="javascript">
<!--

window.history.forward();

var prevState = 0;
var monitorTimerId = 0;
var sliderScrolling = false;
var ignoreSliderChange = false;

function updateVolume(deltaVol)
{
    var vlc = document.getElementById("vlc");
    vlc.audio.volume += deltaVol;
    document.getElementById("volumeTextField").innerHTML = vlc.audio.volume+"%";
};
function formatTime(timeVal)
{
    var timeHour = Math.round(timeVal / 1000);
    var timeSec = timeHour % 60;
    if( timeSec < 10 )
	timeSec = '0'+timeSec;
    timeHour = (timeHour - timeSec)/60;
    var timeMin = timeHour % 60;
    if( timeMin < 10 )
	timeMin = '0'+timeMin;
    timeHour = (timeHour - timeMin)/60;
    if( timeHour > 0 )
	return timeHour+":"+timeMin+":"+timeSec;
    else
	return timeMin+":"+timeSec;
};
function monitor()
{
    var vlc = document.getElementById("vlc");
    var newState = vlc.input.state;
    if( prevState != newState )
    {
	if( newState == 0 )
	{
	    // current media has stopped 
	    onStop();
	}
	else if( newState == 1 )
	{
	    // current media is openning/connecting
	    onOpen();
	}
	else if( newState == 2 )
	{
	    // current media is buffering data
	    onBuffer();
	}
	else if( newState == 3 )
	{
	    // current media is now playing
	    onPlay();
	}
	else if( vlc.input.state == 4 )
	{
	    // current media is now paused
	    onPause();
	}
	prevState = newState;
    }
    else if( newState == 3 )
    {
	// current media is playing
	onPlaying();
    }
    monitorTimerId = setTimeout("monitor()", 1000);
};

/* actions */
function doGo(targetURL)
{
    var vlc = document.getElementById("vlc");
    var options = new Array(":vout-filter=deinterlace", ":deinterlace-mode=linear");
    vlc.playlist.clear();
    //vlc.playlist.add(targetURL, null, options);
    vlc.playlist.add(targetURL);
    vlc.playlist.play();
    if( monitorTimerId == 0 )
    {
	monitor();
    }
};

function doPlayOrPause()
{
    var vlc = document.getElementById("vlc");
    if( vlc.playlist.isPlaying )
    {
	vlc.playlist.togglePause();
    }
    else
    {
	vlc.playlist.play();
	if( monitorTimerId == 0 )
	{
	    monitor();
	}
    }
};
function doStop()
{
    document.getElementById("vlc").playlist.stop();
    if( monitorTimerId != 0 )
    {
	clearTimeout(monitorTimerId);
	monitorTimerId = 0;
    }
    onStop();
};
function doPlaySlower()
{
    var vlc = document.getElementById("vlc");
    vlc.input.rate = vlc.input.rate / 2;
};
function doPlayFaster()
{
    var vlc = document.getElementById("vlc");
    vlc.input.rate = vlc.input.rate * 2;
};

/* events */

function onOpen()
{
};
function onBuffer()
{
};
function onPlay()
{
    onPlaying();
};
var liveFeedText = new Array("Live", "((Live))", "(( Live ))", "((  Live  ))");
var liveFeedRoll = 0;
function onPlaying()
{
};
function onPause()
{
};
function onStop()
{
};

-->

</script>
</head>
<body onload="javascript:doGo('http://{{serverip}}:{{serverport}}')" ></body>
<!-- 脚本结束-->
{% endif %}
<!-- 树形控件脚本-->
<head>
<script language="javascript">
<!--
function line(obj)
{
obj.style.textDecoration='underline';
}
function delline(obj)
{
obj.style.textDecoration='none';
}
function showtree(str)
{
var eval1="span_"+str+".innerHTML=span_"+str+".innerHTML=='+'?'-':'+'";
var eval2=str+"_value.style.display="+str+"_value.style.display=='none'?'':'none'";
eval(eval1);
eval(eval2);
}

function linkTo(url)
{
	if ( event.clientX < 0 || event.clientY < 0 || event.altKey)
	{
		location.href(url)
	}
};

//-->
</script>
</head>
<body onbeforeunload="javascript:linkTo('http://{{localhttp}}/webvideo/logout?last_port={{serverport}}')"></body>
  <!-- 主菜单-->
<div id="logout"><a name="logout" href="http://{{localhttp}}/webvideo/logout?last_port={{serverport}}">/ 注销  /</a></div>

<div id="center">

<div id="left">
<table>
<td>

	{% for s in sites %}
	<div class="tree_1" onmouseover="line(this)" onMouseOut="delline(this)" onclick="showtree('{{s.0.0}}')">{{s.0.0}}<span id=span_{{s.0.0}} style="color:gray">+</span></div>
	
	<div id={{s.0.0}}_value class="tree_2" style="display:none">
	{% for i in s %}
	{% ifnotequal i s.0 %}
	<div class="tree_3"><a href="http://{{localhttp}}/webvideo/monitor?port={{i.1}}&last_port={{serverport}}">{{i.0}}</a></div>
	{% endifnotequal %}
	{% endfor %}
	</div>
	{% endfor %}
	
</td>
</table>
</div>

<div id="right">
	<div id="activex">
	{% ifequal os "ie" %}
	<!-- 如果客户端为IE浏览器，此处添加ie插件-->
	<OBJECT classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
		codebase="axvlc.cab#version=0,8,6,0"
       width="640"
       height="480"
       id="vlc"
       events="True">
		<param name="MRL" value="" /><param name="ShowDisplay" value="True" />
		<param name="AutoLoop" value="False" /><param name="AutoPlay" value="False" />
		<param name="Volume" value="50" /><param name="StartTime" value="0" />
	</OBJECT>
	{% else %}
	<!-- 如果客户端为firefox浏览器，此处添加firefox插件-->
	insert firefox activeX here
	{% endifequal %}
	</div>
	<div id="button">
    	<div class="but1"><img src="/sitemedia/images/play011.png" width="40" height="40" onclick="doPlayOrPause()" /></div>
    	<div class="but2"><img src="/sitemedia/images/pause011.png" width="40" height="40" onclick="doPlayOrPause()"/></div>
    	<div class="but2"><img src="/sitemedia/images/stop011.png" width="40" height="40" onclick="doStop()" /></div>
	</div>
	<div class="clear"></div>
</div>
</div>

{% endblock %}
