{% extends "video_base.html" %}

{% block content%}
<link rel="stylesheet" type="text/css" href="/sitemedia/css/monitor.css" media="screen">
<link rel="stylesheet" type="text/css" href="/sitemedia/css/tree.css" media="screen">

{% if jsp %}
<!-- 此处为插件脚本，页面刷新时自动运行-->
<head>
<script type="text/javascript" src="/sitemedia/css/vlc.js"></script>
</head>
<body onload="javascript:doGo('http://{{serverip}}:{{serverport}}')" ></body>
<!-- 脚本结束-->
{% endif %}
<!-- 树形控件脚本-->
<head>
<script type="text/javascript" src="/sitemedia/css/tree_old.js"></script>
</head>

<body onbeforeunload="javascript:linkTo('http://{{localhttp}}:8000/webvideo/logout?last_ip={{serverip}}&last_port={{serverport}}')"></body>
  <!-- 主菜单-->
<div id="logout"><a name="logout" href="http://{{localhttp}}:8000/webvideo/logout?last_ip={{serverip}}&last_port={{serverport}}">/ 注销  /</a></div>

<div id="center">

<div id="left">
<table>
<td>
		{% for s in sites %}
		<div class="tree_1" onmouseover="line(this)" onMouseOut="delline(this)" onclick="showtree('{{s.0}}')">{{s.0}}<span id=span_{{s.0}} style="color:gray">+</span></div>
	
		<div id={{s.0}}_value class="tree_2" style="display:none">
		{% for i in s %}
		{% ifnotequal i s.0 %}
		<div class="tree_3"><a href="http://{{localhttp}}:8000/webvideo/monitor?ip={{i.1}}&port={{i.2}}&last_ip={{serverip}}&last_port={{serverport}}&author={{author}}">{{i.0}}</a></div>
		{% endifnotequal %}
		{% endfor %}
		</div>
		{% endfor %}

</td>
</table>
</div>

<div id="right">
	<div id="activex">
	{% ifequal os "ie" %}
	<!-- 如果客户端为IE浏览器，此处添加ie插件-->
	<OBJECT classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
		codebase="axvlc.cab#version=0,8,6,0"
       width="640"
       height="480"
       id="vlc"
       events="True">
		<param name="MRL" value="" /><param name="ShowDisplay" value="True" />
		<param name="AutoLoop" value="False" /><param name="AutoPlay" value="False" />
		<param name="Volume" value="50" /><param name="StartTime" value="0" />
	</OBJECT>
	{% else %}
	<!-- 如果客户端为firefox浏览器，此处添加firefox插件-->
	insert firefox activeX here
	{% endifequal %}
	</div>
	<div id="button">
    	<div class="but1"><img src="/sitemedia/images/play011.png" width="40" height="40" onclick="doPlayOrPause()" /></div>
    	<div class="but2"><img src="/sitemedia/images/pause011.png" width="40" height="40" onclick="doPlayOrPause()"/></div>
    	<div class="but2"><img src="/sitemedia/images/stop011.png" width="40" height="40" onclick="doStop()" /></div>
	</div>
	<div class="clear"></div>
</div>
</div>

{% endblock %}
