<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>视频界面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/sitemedia/css/main.css" media="screen">
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body>
<div id="wrapper">
  <div id="header">
    <!-- 公司logo -->
    <div id="head_left"> 
      <div><img src="/sitemedia/images/logo.jpg" width="56" height="80" border="0"/></div>
    </div>
    <!-- 标题-->
    <div id="head_right">
      <div><img src="/sitemedia/images/title.gif" width="600" height="80" border="0"/></div>
    </div>
    <div class="clear"></div>
  </div>

  <!--正文内容 -->
  <div id="wapper">
  {% block content %}{% endblock %}
  </div>
  <!-- 页脚-->
	<div id="footer">
		<div> 南京江瑞计算机系统控制有限公司 </div>
      	<div>版权信息 2008 </div>
  	</div>
</div>
</body>
</html>
