{% extends "video_base.html" %}

{% block content%}
<link rel="stylesheet" type="text/css" href="/sitemedia/css/monitor.css" media="screen">
<link rel="stylesheet" type="text/css" href="/sitemedia/css/tab.css" media="screen">
<link rel="stylesheet" type="text/css" href="/sitemedia/css/tree.css" media="screen">

{% if jsp %}
<!-- 此处为插件脚本，页面刷新时自动运行-->
<head>
<script type="text/javascript" src="/sitemedia/css/vlc.js"></script>
</head>
<body onload="javascript:doGo('http://{{serverip}}:{{serverport}}')" ></body>
<!-- 脚本结束-->
{% endif %}
<!-- 树形控件脚本-->
<head>
<script type="text/javascript" src="/sitemedia/css/tree.js"></script>
</head>

<body onbeforeunload="javascript:linkTo='http://{{localhttp}}:8000/webvideo/logout?last_ip={{serverip}}&last_port={{serverport}}'"></body>

  <!-- 主菜单-->
<div id="tabs3">
    <ul>
		<li><a id="current" name="logout" href="http://{{localhttp}}:8000/webvideo/logout?last_ip={{serverip}}&last_port={{serverport}}"><span>注销</span></a></li>
	</ul>
</div>

<div id="faux">

<div id="leftcolumn">
<table width="100%" style="table-layout:fixed;">
<td>
<div class="dtree">
	<p><a href="javascript: d.openAll();">展开所有摄像机</a>
	<br><a href="javascript: d.closeAll();">折叠所有摄像机</a></p>
	<script type="text/javascript">
		<!--
		d = new dTree('d');
		d.add(0,-1,'站点列表');

		{% for s in sites %}
		d.add({{s.0.1}},0, "{{s.0.0}}", '', '', '', '', '/sitemedia/images/img/city.gif');
		{% for i in s %}
		{% ifnotequal i s.0 %}
		d.add({{i.1}}, {{s.0.1}}, "{{i.0.0}}", 'http://{{localhttp}}:8000/webvideo/monitor?ip={{i.0.1}}&port={{i.0.2}}&last_ip={{serverip}}&last_port={{serverport}}&author={{author}}');
		{% endifnotequal %}
		{% endfor %}
		{% endfor %}

		document.write(d);
	//-->
	</script>
</div>	
</td>
</table>
</div>

<div id="rightcolumn">
	<div id="activex">
	{% ifequal os "ie" %}
	<!-- 如果客户端为IE浏览器，此处添加ie插件-->
	<OBJECT classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
		codebase="axvlc.cab#version=0,8,6,0"
       width="640"
       height="480"
       id="vlc"
       events="True">
		<param name="MRL" value="" /><param name="ShowDisplay" value="True" />
		<param name="AutoLoop" value="False" /><param name="AutoPlay" value="False" />
		<param name="Volume" value="50" /><param name="StartTime" value="0" />
	</OBJECT>
	{% else %}
	<!-- 如果客户端为firefox浏览器，此处添加firefox插件-->
	insert firefox activeX here
	{% endifequal %}
	</div>
	<div id="button">
    	<div class="but1"><img src="/sitemedia/images/play.png" width="64" height="64" onclick="doPlayOrPause()" /></div>
    	<div class="but2"><img src="/sitemedia/images/pause.png" width="64" height="64" onclick="doPlayOrPause()"/></div>
    	<div class="but2"><img src="/sitemedia/images/stop.png" width="64" height="64" onclick="doStop()" /></div>
	</div>
	<div class="clear"></div>
</div>
</div>

{% endblock %}
